# Add the upstart config for aesop client here
description "Aesop Client"
author      "Harish"

console none

start on filesystem or runlevel [2345]
stop on runlevel [06]

respawn
respawn limit 2 5

script

    echo "starting aesop"
    echo $$ >> /var/log/aesop_client_upstart.log
    chdir /srv/aesop_zopper/samples/sample-kafka-client-cluster-consumer/distribution/script
    exec sh start.sh
end script

pre-start script
    echo "[`date`] aesop Starting" >> /var/log/aesop_client_upstart.log
end script

pre-stop script
    echo "[`date`] aesop Stopping" >> /var/log/aesop_client_upstart.log
end script

post-stop script
    echo "[`date`] aesop Stopped. Doing user defined cleanup of trooper processes." >> /var/log/aesop_client_upstart.log
    #exec ps -ef| grep org.trpr.platform >> /var/log/aesop_client_upstart.log
    #pkill -f isla
    pid=`ps -ef | grep "org.trpr.platform" | grep -v grep | awk ' {print $2}'`
    echo $pid >> /var/log/aesop_client_upstart.log
    if ! [ -z "$pid" ]
    then
        echo "Process has ended." >> /var/log/aesop_client_upstart.log
        `kill -9 $pid`
        echo "$pid"  >> /var/log/aesop_client_upstart.log
    else
        echo "No aesop client process is running" >> /var/log/aesop_client_upstart.log
    fi
end script


deployment_type = STAGING

{% for key, value in environment_variables[STAGING].items() %}
env             = {{key}}={{value}}
{% endfor %}
